[submodule "thirdparty/DirectX-Headers"]
	path = thirdparty/DirectX-Headers
	url = git@github.com:microsoft/DirectX-Headers.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11
